openapi: 3.0.0
info:
  title: AI Hub API
  version: "0.1"
  description: The AI Hub REST API. See https://docs.instabase.com/api-sdk/ for more details.
  termsOfService: https://www.instabase.com/terms-of-service/
  contact:
    name: Instabase Support
    url: https://help.instabase.com/
  license:
    name: MIT
    url: https://github.com/instabase/aihub-python/blob/master/LICENSE
servers:
  - url: https://aihub.instabase.com/api
security:
  - bearerAuth: []
paths:
  /v2/batches:
    post:
      operationId: createBatch
      x-fern-audiences:
        - public
      tags:
        - Batches
      summary: Create batch
      description: |
        Create a new batch.

        <Note>[Upload files to the batch](/api-sdk/api-reference/batches/add-file-to-batch) in a separate request.</Note>
      parameters:
        - $ref: '#/components/parameters/ib_context'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the batch. Maximum length is 255 characters.
                workspace:
                  type: string
                  description: |
                    The name of the workspace in which to add the batch. If not specified, the default location is your personal workspace.

                    When making this call from a service account, you must specify a workspace.

                    <Info>For organization members, if the default drive changes but is still connected, you can still use the batch as input for running an app. However, you can't upload any additional files to the batch. If the default drive is disconnected, you can't use batches stored on that drive as input for any app run.</Info>
              required:
                - name
      responses:
        '200':
          description: Batch created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl "${API_ROOT}/v2/batches" \
                    -H "Authorization: Bearer ${API_TOKEN}" \
                    -H "IB-Context: ${IB_CONTEXT}"\
                    -H "Content-Type: application/json" \
                    -d '{"name": "test"}'

            - sdk: python
              name: with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
                
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")

                  resp = client.batches.create(name="MyBatch",
                                               workspace="MyWorkspace")
                  print(f"batch_id: {resp.id}")

            - sdk: python
              name: without SDK
              # cwc tested
              code: |
                  import requests
  
                  url = "https://aihub.instabase.com/api/v2/batches"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com",
                              "Content-Type": "application/json" }
  
                  # create the request payload
                  data = { "name": "MyBatch",
                           "workspace": "MyWorkspace" }

                  # make the POST request
                  resp = requests.post(url, headers=headers, json=data)
  
                  # handle the response
                  if resp.status_code == 200:
                      batch = resp.json()
                      print(f"Batch created with ID: {batch['id']}")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

    get:
      operationId: listBatches
      x-fern-audiences:
        - public
      tags:
        - Batches
      summary: List batches
      description: Return a list of batches. Use query parameters to filter results.
      parameters:
        - in: query
          name: workspace
          schema:
            type: string
          description: Filter to batches in the specified workspace.
        - in: query
          name: username
          schema:
            type: string
          description: Filter to batches created by the specified username (user ID).
        - in: query
          name: limit
          schema:
            type: integer
          description: If paginating results, specify how many batches to return.
        - in: query
          name: offset
          schema:
            type: integer
          description: If paginating results, specify the offset of the returned list.
        - $ref: '#/components/parameters/ib_context'
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  batches:
                    type: array
                    description: List of batches. See response schema for each batch object.
                    items:
                      $ref: '#/components/schemas/batchInfo'
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl "${API_ROOT}/v2/batches" \
                    -H "Authorization: Bearer ${API_TOKEN}" \
                    -H "IB-Context: ${IB_CONTEXT}"\
                    -G \
                    --data-urlencode "workspace=my-workspace" \
                    --data-urlencode "limit=100"

            - sdk: python
              name: with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
                
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")

                  resp = client.batches.list(workspace="MyWorkspace",
                                             username="john.doe_acme.com",
                                             limit=3,
                                             offset=6)
                  for batch in resp.batches:
                      print(f"id: {batch.id}")
                      print(f"name: {batch.name}")

            - sdk: python
              name: without SDK
              # cwc tested
              code: |
                  import requests
  
                  url = "https://aihub.instabase.com/api/v2/batches"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com" }
  
                  # create query parameters
                  params = { "workspace": "MyWorkspace",
                             "limit": 3,
                             "offset": 6 }

                  # make the GET request
                  resp = requests.get(url, headers=headers, params=params)
  
                  # handle the response
                  if resp.status_code == 200:
                      batches = resp.json()
                      print(f"Retrieved {len(batches['batches'])} batches")
                  else:
                      print(f"Error: { resp.status_code } - { resp.text }")

  /v2/batches/{batch_id}:
    get:
      operationId: getBatch
      x-fern-audiences:
        - public
      tags:
        - Batches
      summary: Get batch information
      description: Retrieve information about a batch.
      parameters:
        - $ref: '#/components/parameters/batch_id'
        - $ref: '#/components/parameters/ib_context'
      responses:
        '200':
          description: Batch successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batchInfo'
        '404':
          description: Batch does not exist, or denied access.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl "${API_ROOT}/v2/batches/<BATCH-ID>" \
                    -H "Authorization: Bearer ${API_TOKEN}"\
                    -H "IB-Context: ${IB_CONTEXT}"

            - sdk: python
              name: with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
                
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")

                  batch_info = client.batches.get(batch_id=123456)
                  print(f"id: {batch_info.id}")
                  print(f"name: {batch_info.name}")

            - sdk: python
              name: without SDK
              # cwc tested
              code: |
                import requests

                url = "https://aihub.instabase.com/api/v2/batches/<BATCH-ID>"
                headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                                             "IB-Context": "john.doe_acme.com" }

                # make the GET request
                resp = requests.get(url, headers=headers)

                # handle the response
                if resp.status_code == 200:
                    batch = resp.json()
                    print(f"id: {batch['id']}")
                    print(f"name: {batch['name']}")
                else:
                    print(f"Error: {resp.status_code} - {resp.text}")

    delete:
      operationId: deleteBatch
      x-fern-audiences:
        - public
      tags:
        - Batches
      summary: Delete batch
      description: Delete a batch and all its files. This is an asynchronous operation that must be [checked for completion](/api-sdk/api-reference/batches/poll-batches-job).
      parameters:
        - $ref: '#/components/parameters/batch_id'
        - $ref: '#/components/parameters/ib_context'
      responses:
        '202':
          description: Batch deletion request accepted. [Poll the job ID](/api-sdk/api-reference/batches/poll-batches-job) to check completion status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batchDeletionJobResponse'
        '404':
          description: Batch does not exist.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl -X DELETE "${API_ROOT}/v2/batches/<BATCH-ID>" \
                    -H "Authorization: Bearer ${API_TOKEN}"\
                    -H "IB-Context: ${IB_CONTEXT}"

            - sdk: python
              name: with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
                  import time
                
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")

                  delete_resp = client.batches.delete(batch_id=123456)

                  # check delete job status until done
                  while True:
                      poll_resp = client.batches.poll_job(job_id=delete_resp.job_id)
                      if poll_resp.state not in ["PENDING", "RUNNING"]:
                          break
                      time.sleep(3)  # pause before polling the status again

            - sdk: python
              name: without SDK
              # cwc tested
              code: |
                  import requests
  
                  url = "https://aihub.instabase.com/api/v2/batches/123456"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                                               "IB-Context": "john.doe_acme.com" }
  
                  # make the DELETE request
                  resp = requests.delete(url, headers=headers)
  
                  # handle the response
                  if resp.status_code == 202:
                      resp = resp.json()
                      print(f"Batch deletion job started with ID: {resp['job_id']}")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

                  # not included here: check status of deletion job until it's done


  /v2/batches/{batch_id}/files:
    get:
      operationId: listFiles
      x-fern-audiences:
        - public
      tags:
        - Batches
      summary: List files in a batch
      description: Return a list of files in a batch.
      parameters:
        - $ref: '#/components/parameters/batch_id'
        - in: query
          name: page_size
          schema:
            type: integer
          description: The number of files to return in each page.
        - in: query
          name: start_token
          schema:
            type: string
          description: The token to start the list from.
        - $ref: '#/components/parameters/ib_context'
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listBatchFilesResponse'
              example:
                nodes:
                  - full_path: "/path/to/document1.pdf"
                    metadata:
                      node_type: "file"
                      size: 1024
                      modified_timestamp: 1647532800
                    perms:
                      can_read: true
                      can_write: true
                      can_delete: true
                    name: "document1.pdf"
                  - full_path: "/path/to/document2.pdf"
                    metadata:
                      node_type: "file"
                      size: 2048
                      modified_timestamp: 1647619200
                    perms:
                      can_read: true
                      can_write: false
                      can_delete: false
                    name: "document2.pdf"
                next_page_token: "eyJwYWdlIjogMn0="
                has_more: true
        '404':
          description: Batch does not exist, or denied access.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl "${API_ROOT}/v2/batches/<BATCH-ID>/files" \
                    -H "Authorization: Bearer ${API_TOKEN}"\
                    -H "IB-Context: ${IB_CONTEXT}"

            - sdk: python
              name: with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
                  
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")
  
                  resp = client.batches.list_files(batch_id=123456,
                                                   page_size=2,
                                                   start_token="1Cv...<snip>...TI=")
                  print(f"Has more files? {resp.has_more}")
                  for node in resp.nodes:
                      print(f"File name: {node.name}")

            - sdk: python
              name: without SDK
              # cwc tested
              code: |
                  import base64
                  import requests

                  start_token="abcd...<snip>...1234"  # not URL-safe
                  url_safe_start_token =
                      base64.urlsafe_b64encode(base64.b64decode(start_token)).decode('ascii')

                  url = f"https://aihub.instabase.com/api/v2/batches/123456/files?page_size=2&start_token={url_safe_start_token}"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com" }
                  
                  # make the GET request
                  resp = requests.get(url, headers=headers)
                  
                  # handle the response
                  if resp.status_code == 200:
                      print(f"Has more files? {resp.json()['has_more']}")
                      for node in resp.json()['nodes']:
                          print(f"File name: {node['name']}")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

  /v2/batches/{batch_id}/files/{filename}:
    put:
      operationId: addFileToBatch
      x-fern-audiences:
        - public
      tags:
        - Batches
      summary: Upload file to batch
      description: |
        Upload a file to a batch or update the contents of a previously uploaded file in a batch.

        <Info>Files can be uploaded one at a time and the suggested max size for each file is 10 MB. For larger files, see [Multipart file upload](/api-sdk/multipart-upload/).</Info>
        
        <Note>If you upload a password-protected PDF, provide the password when you process the PDF with an AI Hub app. See instructions for configuring the `settings.runtime_config.instabase.pdf.passwords` property for the [Run deployment](/api-sdk/api-reference/runs/run-deployment#request.body.settings.runtime_config.instabase.pdf.passwords) or [Run app](/api-sdk/api-reference/runs/run-app#request.body.settings.runtime_config.instabase.pdf.passwords) operations.</Note>
      parameters:
        - $ref: '#/components/parameters/batch_id'
        - name: filename
          in: path
          required: true
          description: A user-defined name for the file on the Instabase filesystem. Include the file extension. This doesn't need to be the same as its name on your local filesystem.
          schema:
            type: string
        - $ref: '#/components/parameters/ib_context'
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              description: The raw contents of the file to upload. See the example request, being sure to define the `<LOCAL_FILEPATH>` with the full path to the file in the machine running the script.
              type: string
              format: binary
      responses:
        '204':
          description: File uploaded successfully.
        '404':
          description: Batch with ID <BATCH-ID> does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl -X PUT "${API_ROOT}/v2/batches/<BATCH-ID>/files/<FILENAME>" \
                    -H "Authorization: Bearer ${API_TOKEN}" \
                    -H "IB-Context: ${IB_CONTEXT}" \
                    -H "Content-Type: application/octet-stream" \
                    --upload-file '<LOCAL_FILEPATH>' # Full path to the file in the machine that's making the request

            - sdk: python
              name: with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
                
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")

                  # returns None
                  client.batches.add_file(batch_id=123456,
                                          file_name="MyFile1.pdf",  # for Instabase filesystem
                                          file=open("file1.pdf", "rb"))  # from local filesystem

            - sdk: python
              name: without SDK
              # cwc tested
              code: |
                  import requests
                  
                  url = "https://aihub.instabase.com/api/v2/batches/12345/files/test.pdf"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                                               "IB-Context": "john.doe_acme.com",
                                               "Content-Type": "application/octet-stream" }
                  
                  # read the file contents
                  with open("path/to/local/test.pdf", "rb") as file:
                      file_content = file.read()
                  
                  # make the PUT request
                  resp = requests.put(url, headers=headers, data=file_content)
                  
                  # handle the response
                  if resp.status_code == 204:
                      print("File uploaded successfully")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

    delete:
      operationId: deleteFileFromBatch
      x-fern-audiences:
        - public
      tags:
        - Batches
      summary: Delete file from batch
      description: Delete a file from a batch.
      parameters:
        - $ref: '#/components/parameters/batch_id'
        - name: filename
          in: path
          required: true
          description: The name of the file.
          schema:
            type: string
        - $ref: '#/components/parameters/ib_context'
      responses:
        '202':
          description: File deletion request accepted. Poll the deletion job for completion status.
        '404':
          description: Batch does not exist.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl -X DELETE "${API_ROOT}/v2/batches/<BATCH-ID>/files/<FILENAME>" \
                    -H "Authorization: Bearer ${API_TOKEN}"\
                    -H "IB-Context: ${IB_CONTEXT}"

            - sdk: python
              name: with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
                
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")

                  # returns None
                  client.batches.delete_file(batch_id=123456,
                                             file_name="MyFile.txt")

            - sdk: python
              name: without SDK
              # cwc tested
              code: |
                  import requests
                  
                  url = "https://aihub.instabase.com/api/v2/batches/12345/files/test.pdf"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com" }
                  
                  # make the DELETE request
                  resp = requests.delete(url, headers=headers)
  
                  # handle the response
                  if resp.status_code == 202:
                      print("File deletion request accepted")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

  /v2/batches/multipart-upload:
    post:
      operationId: createMultipartUploadSession
      x-fern-audiences:
        - public
      tags:
        - Batches
      summary: Start multipart upload session
      description: |
        Start a multipart upload session. Use this endpoint when you need to upload a file larger than 10 MB to a batch.
        
        The multipart upload process consists of three steps:
        1. Create a multipart upload session (this endpoint)
        2. [Upload file parts](/api-sdk/api-reference/batches/upload-multipart-part) to the session
        3. [Commit the session](/api-sdk/api-reference/batches/commit-multipart-upload-session) to finalize the upload
      parameters:
        - $ref: '#/components/parameters/ib_context'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                batch_id:
                  type: integer
                  description: The batch ID to upload the file to.
                filename:
                  type: string
                  description: A file name for the uploaded file on the AI Hub filesystem, including the file extension. Maximum of 255 characters.
                file_size:
                  type: integer
                  description: The file size, in bytes. Can be an integer or a string.
              required:
                - batch_id
                - filename
                - file_size
      responses:
        '201':
          description: The multipart upload session was initiated.
          headers:
            Location:
              schema:
                type: string
              description: The session endpoint URL to use in subsequent multipart upload requests, in the form `<API-ROOT>/v2/batches/multipart-upload/sessions/<SESSION-ID>`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multipartUploadSessionResponse'
        '404':
          description: Batch with the specified ID doesn't exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl "${API_ROOT}/v2/batches/multipart-upload" \
                    -H "Authorization: Bearer ${API_TOKEN}" \
                    -H "IB-Context: ${IB_CONTEXT}" \
                    -H "Content-Type: application/json" \
                    -d '{
                          "batch_id": <BATCH-ID>,
                          "filename": "large-file.pdf",
                          "file_size": 15728640
                        }'

            - sdk: python
              name: with SDK
              code: |
                  from aihub import AIHub
                  import os
                  
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")
  
                  filename = "large-file.pdf"
                  
                  # get file size
                  local_filepath = "large-file.pdf"
                  file_size = os.path.getsize(local_filepath)
                  
                  # create multipart upload session
                  resp = client.batches.create_multipart_upload_session(
                      batch_id=123456,
                      filename=filename,
                      file_size=file_size
                  )
                  
                  session_id = resp.session_id
                  part_size = resp.part_size
                  print(f"Session ID: {session_id}")
                  print(f"Part size: {part_size}")

            - sdk: python
              name: without SDK
              code: |
                  import os
                  import requests
                  
                  filename = "large-file.pdf"
  
                  # get file size
                  local_filepath = "large-file.pdf"
                  size = os.path.getsize(local_filepath)
                  
                  url = "https://aihub.instabase.com/api/v2/batches/multipart-upload"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com",
                              "Content-Type": "application/json" }
                  
                  # create the request payload
                  data = { "batch_id": 123456,
                           "filename": filename,
                           "file_size": size }
                  
                  # make the POST request
                  resp = requests.post(url,
                                       headers=headers,
                                       json=data)
                  
                  # handle the response
                  if resp.status_code == 201:
                      part_size = resp.json()["part_size"]
                      session_id = resp.json()["session_id"]
                      print(f"Session ID: {session_id}")
                      print(f"Part size: {part_size}")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

  /v2/batches/multipart-upload/sessions/{session_id}/parts/{part_num}:
    put:
      operationId: uploadMultipartPart
      x-fern-audiences:
        - public
      tags:
        - Batches
      summary: Upload part to multipart session
      description: |
        Upload part of a file to the multipart upload session. The size of each part must match the `part_size` returned by the [Start multipart upload session](/api-sdk/api-reference/batches/create-multipart-upload-session) call, except for the final part, which can be smaller.
        
        Parts must be uploaded with consecutive part numbers starting at 1.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
          description: The session ID obtained from the Start multipart upload session response.
        - name: part_num
          in: path
          required: true
          schema:
            type: integer
          description: The part number, starting at 1 and increasing consecutively for each part.
        - $ref: '#/components/parameters/ib_context'
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              description: Raw content of the part to be uploaded.
      responses:
        '201':
          description: The part was successfully uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multipartUploadPartResponse'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl -X PUT "${API_ROOT}/v2/batches/multipart-upload/sessions/<SESSION_ID>/parts/1" \
                    -H "Authorization: Bearer ${API_TOKEN}" \
                    -H "IB-Context: ${IB_CONTEXT}" \
                    -H "Content-Type: application/octet-stream" \
                    --data-binary "@part1.bin"

            - sdk: python
              name: with SDK
              code: |
                  from aihub import AIHub
                  
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")
                  
                  # Assuming session_id and part_size from previous step
                  session_id = "<SESSION-ID>"
                  part_size = 5242880  # 5MB
                  
                  parts = []
                  part_num = 1
                  
                  with open("large-file.pdf", "rb") as input_file:
                      part_data = input_file.read(part_size)
                      while part_data:
                          # upload this part using SDK
                          resp = client.batches.upload_multipart_part(
                              session_id=session_id,
                              part_num=part_num,
                              part_data=part_data
                          )
                  
                          parts.append({ "part_num": part_num,
                                         "part_id": resp.part_id })
                          print(f"Uploaded part {part_num}")
                  
                          # read next part
                          part_data = input_file.read(part_size)
                          part_num += 1

            - sdk: python
              name: without SDK
              code: |
                  import requests
                  
                  # assuming session_id and part_size from previous step
                  session_id = "<SESSION-ID>"
                  part_size = 5242880  # 5MB
                  session_endpoint = f"https://aihub.instabase.com/api/v2/batches/multipart-upload/sessions/{session_id}"
                  
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": “john.doe_acme.com" }
                  
                  parts = []
                  part_num = 1
                  
                  with open("large-file.pdf", "rb") as input_file:
                      part = input_file.read(part_size)
                      while part:
                          # upload this part
                          part_url = f"{session_endpoint}/parts/{part_num}"
                          part_resp = requests.put(part_url, headers=headers, data=part)
                  
                          if part_resp.status_code == 201:
                              parts.append({
                                  "part_num": part_num,
                                  "part_id": part_resp.json()["part_id"]
                              })
                              print(f"Uploaded part {part_num}")
                          else:
                              print(f"Error uploading part {part_num}: {part_resp.status_code}")
                              break
                  
                          # read next part
                          part = input_file.read(part_size)
                          part_num += 1

  /v2/batches/multipart-upload/sessions/{session_id}:
    post:
      operationId: commitMultipartUploadSession
      x-fern-audiences:
        - public
      tags:
        - Batches
      summary: Commit or abort multipart session
      description: |
        After uploading all parts to a multipart upload session, use this endpoint to commit and close the session, or abort the session.
        
        When committing, provide all the uploaded parts in the correct order. When aborting, the session and all uploaded parts are discarded.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
          description: The session ID obtained from the Start multipart upload session response.
        - $ref: '#/components/parameters/ib_context'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [commit, abort]
                  description: Set to `commit` to finalize the upload or `abort` to cancel it.
                parts:
                  type: array
                  description: Required when action is `commit`. List of all uploaded parts in order.
                  items:
                    type: object
                    properties:
                      part_num:
                        type: integer
                        description: The part number of the uploaded part.
                      part_id:
                        type: string
                        description: The part ID returned when the part was uploaded.
                    required:
                      - part_num
                      - part_id
              required:
                - action
      responses:
        '201':
          description: The multipart upload session was successfully committed or aborted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl -X POST "${API_ROOT}/v2/batches/multipart-upload/sessions/<SESSION-ID>" \
                    -H "Authorization: Bearer ${API_TOKEN}" \
                    -H "IB-Context: ${IB_CONTEXT}" \
                    -H "Content-Type: application/json" \
                    -d '{
                          "action": "commit",
                          "parts": [
                            {"part_num": 1, "part_id": "12345"},
                            {"part_num": 2, "part_id": "12346"},
                            {"part_num": 3, "part_id": "12347"}
                          ]
                        }'

            - sdk: python
              name: with SDK
              code: |
                  from aihub import AIHub
                  
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")
                  
                  # Assuming session_id and parts from previous steps
                  session_id = "<SESSION-ID>"
                  parts = [
                      {"part_num": 1, "part_id": "12345"},
                      {"part_num": 2, "part_id": "12346"},
                      {"part_num": 3, "part_id": "12347"}
                  ]
                  
                  # commit the session
                  client.batches.commit_multipart_upload_session(
                      session_id=session_id,
                      action="commit",
                      parts=parts
                  )
                  print("Multipart upload completed successfully")

            - sdk: python
              name: without SDK
              code: |
                  import requests
                  import json
                  
                  # Assuming session_id and parts from previous steps
                  session_id = "<SESSION-ID>"
                  session_endpoint = f"https://aihub.instabase.com/api/v2/batches/multipart-upload/sessions/{session_id}"
                  parts = [
                      {"part_num": 1, "part_id": "12345"},
                      {"part_num": 2, "part_id": "12346"},
                      {"part_num": 3, "part_id": "12347"}
                  ]
                  
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com",
                              "Content-Type": "application/json" }
                  
                  # commit the session
                  data = { "action": "commit", "parts": parts }
                  
                  resp = requests.post(session_endpoint, headers=headers, json=data)
                  
                  if resp.status_code == 201:
                      print("Multipart upload completed successfully")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

            - sdk: python
              name: with SDK - Complete Workflow
              code: |
                  from aihub import AIHub
                  import os
                  
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")
                  
                  batch_id = 123456
                  filename = "large-file.pdf"
                  local_file_path = "/path/to/large-file.pdf"
                  
                  file_size = os.path.getsize(local_file_path)
                  
                  # Step 1: Create session
                  resp = client.batches.create_multipart_upload_session(
                      batch_id=batch_id,
                      filename="upload.pdf",
                      file_size=file_size
                  )
                  
                  session_id = resp.session_id
                  part_size = resp.part_size
                  
                  # Step 2: Upload parts
                  parts = []
                  part_num = 1
                  
                  with open(local_file_path, "rb") as file:
                      while True:
                          part_data = file.read(part_size)
                          if not part_data:
                              break
                  
                          resp = client.batches.upload_multipart_part(
                              session_id=session_id,
                              part_num=part_num,
                              part_data=part_data
                          )
                  
                          parts.append({
                              "part_num": part_num,
                              "part_id": resp.part_id
                          })
                          part_num += 1
                  
                  # Step 3: Commit session
                  client.batches.commit_multipart_upload_session(
                      session_id=session_id,
                      action="commit",
                      parts=parts
                  )
                  print("Multipart upload completed successfully")

  /v2/batches/jobs/{job_id}:
    get:
      operationId: pollBatchesJob
      x-fern-audiences:
        - public
      tags:
        - Batches
      summary: Poll batches job
      description: |
        Poll the asynchronous job created when deleting a batch.

        <Info>This API operation and SDK method are maintained for backward compatibility, but the functionally identical API operation [poll file operation job status](/api-sdk/api-reference/jobs/job-status) and its corresponding SDK method [client.jobs.status()](/api-sdk/api-reference/jobs/job-status) are preferred.</Info>
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          description: The job ID returned by a [Delete batch](/api-sdk/api-reference/batches/delete-batch) request.
        - $ref: '#/components/parameters/ib_context'
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobStatusResponse'
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl "${API_ROOT}/v2/batches/jobs/<JOB-ID>" \
                    -H "Authorization: Bearer ${API_TOKEN}"\
                    -H "IB-Context: ${IB_CONTEXT}"

            - sdk: python
              name: with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
                  import time

                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")

                  # poll the status of a job until it's done
                  while True:
                      poll_resp = client.batches.poll_job(
                                      job_id="a1b2c3d4-e5f6-7890-abcd-ef1234567890")
                      if poll_resp.state not in ["PENDING", "RUNNING"]:
                          break
                      time.sleep(3)  # pause before polling the status again

            - sdk: python
              name: without SDK
              # cwc tested
              code: |
                  import requests
                  
                  url = "https://aihub.instabase.com/api/v2/batches/jobs/a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": 'john.doe_acme.com' }
                  
                  # make the GET request
                  resp = requests.get(url, headers=headers)
                  
                  # handle the response
                  if resp.status_code == 200:
                      job_status = resp.json()
                      print(f"Job status: {job_status['state']}")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

  /v2/apps/runs:
    post:
      operationId: runApp
      x-fern-audiences:
        - public
      tags:
        - Runs
      summary: Run app
      description: |
        Run an automation app by its name or app ID. The input for the run can be a batch ID or an input file path.

        <Tip>

        <span class="badge">Commercial & Enterprise</span>

        Running an automation app via a deployment is generally preferred over running an app directly.

        Deployments offer additional features including upstream and downstream integrations, deployment metrics, human review workflows, and secret and configuration management.

        Learn more about [deployments](/automate/deployments) to decide if you'd rather use the [Run deployment](/api-sdk/api-reference/runs/run-deployment) API operation.

        </Tip>

        <Note>Any specified input or output is validated against the context set by the `IB-Context` header. For example, if the context is set to your community account, but the batch ID used as input for the run is stored in your organization, the call fails.</Note>
      parameters:
        - $ref: '#/components/parameters/ib_context'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                app_name:
                  type: string
                  description: Required unless using `app_id`. The name of the app to run.
                app_id:
                  type: string
                  description: |
                    Required unless using `app_name`. The app ID of the app to run.

                    <Tip>You can find an app ID in the app URL, such as http<span>s://</span>aihub.instabase.com/hub/apps/**528c36e8-ac5b-490d-a41b-7eec9c404b87**.</Tip>
                owner:
                  type: string
                  description: |
                    The account that generated the app. If not specified, defaults to your AI Hub username.

                    For custom apps belonging to you, accept the default. For AI Hub Marketplace apps published by Instabase, specify `instabase`.
                batch_id:
                  type: integer
                  description: Required unless using `input_dir`. The batch ID of a batch created with the [Batches endpoint](/api-sdk/api-reference/batches/create-batch/). All files uploaded to the batch are used as input for the run.
                input_dir:
                  type: string
                  description: Required unless using `batch_id`. The path of the input folder in a connected drive or Instabase Drive. See [Specifying file paths](/api-sdk/api-reference/run-reference/).
                version:
                  type: string
                  description: Version of the app to use. If not specified, defaults to the latest production version.
                output_workspace:
                  type: string
                  description: |
                    The workspace in which to run the app. Output saves to the specified workspace. If not defined, the default is your personal workspace.

                    <Note>Service accounts don't have personal workspaces. If making this call from a service account, you must specify a value for either `output_workspace` or `output_dir`.</Note>
                output_dir:
                  type: string
                  description: Defines a specific location for the output to be saved in a connected drive or Instabase Drive. If defined, overrides the `output_workspace` value. See [Specifying file paths](/api-sdk/api-reference/run-reference/).
                settings:
                  type: object
                  description: JSON object containing settings for the app run.
                  properties:
                    keys:
                      type: object
                      description: |
                         Configure runtime values for any custom and secret keys referenced in the app. Undefined keys run without a value.
                      properties:
                         custom:
                            type: object
                            description: |
                               Configure any custom keys, using key/value pairs. In the key/value pair, define the key as the name of an existing key used in your app, and define the value as any custom value.

                               <Note>Any keys being defined by API should correspond to keys listed on the app **Overview** page, on the **Keys** tab.</Note>
                            additionalProperties: true
                         secret:
                            type: object
                            description: |
                               Configure any secret keys, using key/value pairs. In the key/value pair, define the key as the name of an existing secret key used in your app, and define the value as any secret in the organization's secrets vault. For guidance on managing secrets, see [Managing secrets](/admin/secret-management/) or refer to the [Secrets endpoints](/api-sdk/api-reference/secrets/).

                               <Note>Any keys being defined by API should correspond to keys listed on the app **Overview** page, on the **Keys** tab.</Note>
                            additionalProperties:
                               type: string
                    runtime_config:
                      type: object
                      description: A dictionary supporting select runtime configurations, such as generating retrievable PDFs of processed documents. For all other runtime configurations, use the `keys` parameter.
                      properties:
                         generate_post_process_pdf:
                            type: boolean
                            description: |
                               Set to `true` to generate a retrievable PDF for each document the app processes, including separate PDFs for each document created by split classification.

                               <Note>When getting run results, use the [`include_source_info` query parameter](/api-sdk/api-reference/runs/get-run-results#request.query.include_source_info.include_source_info) to return the file path for any generated PDFs in your results. File paths are returned under `files/documents/post_processed_pdf_path`.</Note>
                         instabase:
                            type: object
                            description: A dictionary supporting select runtime configurations.
                            properties:
                                pdf:
                                  type: object
                                  description: A dictionary supporting select runtime configurations dealing with PDF input documents.
                                  properties:
                                      passwords:
                                        type: object
                                        description: A dictionary with titles of encrypted PDF documents as keys and passwords for those documents as values.
                                        additionalProperties:
                                          type: string

      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/run'
          description: Run started successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              name: Simple request
              code: |
                  curl "${API_ROOT}/v2/apps/runs" \
                    -H "Authorization: Bearer ${API_TOKEN}" \
                    -H "IB-Context: ${IB_CONTEXT}"\
                    -H "Content-Type: application/json" \
                    -d '{
                          "batch_id": <BATCH-ID>,
                          "app_name": "<APP-NAME>"
                        }'

            - sdk: python
              name: Simple request with SDK
              # cwc tested
              code: |
                  from aihub import AIHub

                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")

                  run = client.apps.runs.create(app_name="MyApp",
                                                batch_id=123456)
                  print(f"Run ID: {run.id}")

            - sdk: python
              name: Simple request without SDK
              # cwc tested
              code: |
                  import requests
                  
                  url = "https://aihub.instabase.com/api/v2/apps/runs"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com",
                              "Content-Type": "application/json" }
                  
                  # create the request payload
                  data = { "batch_id": "123456",
                           "app_name": "My App" }
                  
                  # make the POST request
                  resp = requests.post(url, headers=headers, json=data)
                  
                  # handle the response
                  if resp.status_code == 200:
                      run = resp.json()
                      print(f"Run started with ID: {run['id']}")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

            - sdk: curl
              name: Complex request
              code: |
                  curl "${API_ROOT}/v2/apps/runs" \
                    -H "Authorization: Bearer ${API_TOKEN}" \
                    -H "IB-Context: ${IB_CONTEXT}"\
                    -H "Content-Type: application/json" \
                    -d '{
                          "batch_id": "<BATCH-ID>",
                          "app_name": "<APP-NAME>",
                          "settings": {
                            "runtime_config": {
                                "generate_post_process_pdf": true,
                                "instabase": {
                                    "pdf": {
                                        "passwords: {
                                            "test1.pdf": "abc123",
                                            "scott.pdf": "tiger"
                            },
                          }
                        }'

            - sdk: python
              name: Complex request with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
                
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")

                  run = client.apps.runs.create(app_name="MyApp",
                                                batch_id=123456,
                                                settings={"runtime_config": {
                                                              "generate_post_process_pdf": True,
                                                              "instabase": {
                                                                  "pdf": {
                                                                      "passwords": {
                                                                          "test1.pdf": "abc123",
                                                                          "scott.pdf": "tiger"
                                                                     }
                                                                  }
                                                              }
                                                         }})
                  print(f"Run ID: {run.id}")

            - sdk: python
              name: Complex request without SDK
              # cwc tested
              code: |
                  import requests

                  url = "https://aihub.instabase.com/api/v2/apps/runs"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com" }

                  # create the request payload
                  data = {
                      "batch_id": 123456,
                      "app_name": "My App",
                      "settings": {
                          "runtime_config": {
                              "generate_post_process_pdf": True,
                              "instabase": {
                                  "pdf": {
                                      "passwords": {
                                          "test1.pdf": "abc123",
                                          "scott.pdf": "tiger"
                                      }
                                  }
                              }
                          }
                      }
                  }

                  # make the POST request
                  resp = requests.post(url, headers=headers, json=data)

                  # handle the response
                  if resp.status_code == 200:
                      run = resp.json()
                      print(f"Run started with ID: {run['id']}")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

    get:
      operationId: listRuns
      x-fern-audiences:
        - public
      tags:
        - Runs
      summary: List runs
      description: Return a list of runs. Use query parameters to filter results.
      parameters:
        - $ref: '#/components/parameters/ib_context'
        - in: query
          name: app_id
          schema:
            type: string
          description: Filter runs by app ID.
        - in: query
          name: app_name
          schema:
            type: string
          description: Filter runs by app name.
        - in: query
          name: deployment_id
          schema:
            type: string
          description: Filter runs by deployment ID.
        - in: query
          name: username
          schema:
            type: string
          description: Filter runs initiated by the specified user (username).
        - in: query
          name: run_id
          schema:
            type: string
          description: Filter specific run by run ID.
        - in: query
          name: status
          schema:
            type: array
            items:
              type: string
          description: Filter jobs by status, such as COMPLETE, RUNNING, or FAILED.
        - in: query
          name: output_workspaces
          schema:
            type: array
            items:
              type: string
          description: Filter runs by the run's output workspace. By default, all runs across all workspaces you have access to are returned, use this query parameter to filter by specific workspace names. You must have access to the named workspaces.
        - in: query
          name: from_timestamp
          schema:
            type: integer
          description: Filter runs starting from this timestamp. Timestamp in Unix time in seconds. Defaults to 24 hours before the current time.
        - in: query
          name: to_timestamp
          schema:
            type: integer
          description: Filter runs up to this timestamp. Timestamp in Unix time in seconds. Defaults to the current time.
        - in: query
          name: limit
          schema:
            type: integer
          description: Number of results to return.
        - in: query
          name: offset
          schema:
            type: integer
          description: Offset of the first result to return.
        - in: query
          name: sort_by
          schema:
            type: string
            enum:
              - start_timestamp
              - status
          description: Field to sort results by.
        - in: query
          name: order
          schema:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
          description: Order of sorting, such as ASCENDING or DESCENDING.
      responses:
        '200':
          description: A list of all runs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  runs:
                    type: array
                    items:
                      $ref: '#/components/schemas/run'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl "${API_ROOT}/v2/apps/runs" \
                    -H "Authorization: Bearer ${API_TOKEN}"`
                    -H "IB-Context: ${IB_CONTEXT}"

            - sdk: python
              name: with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
                  
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")
  
                  resp = client.apps.runs.list()
                  print(f"third run ID: {resp.runs[2].id}")  # 0-based indexing

            - sdk: python
              name: without SDK
              # cwc tested
              code: |
                  import requests
                  
                  url = "https://aihub.instabase.com/api/v2/apps/runs"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com" }
                  
                  # make the GET request
                  resp = requests.get(url, headers=headers)
                  
                  # handle the response
                  if resp.status_code == 200:
                      print(f"third run ID: {resp.json()['runs'][2]['id']}")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

  /v2/apps/deployments/{deployment-id}/runs:
    post:
      operationId: runDeployment
      x-fern-audiences:
        - public
      tags:
        - Runs
      summary: Run deployment
      description: |
        <span class="badge">Commercial & Enterprise</span>

        Run an AI Hub deployment by its deployment ID. The input for the run is specified using a batch ID or file path.

        <Info>Use the UI to optionally [configure email notifications or webhooks](/automate/deployments#configuring-notifications) for certain events within the deployed app's lifecycle.</Info>

        <Note>Any specified input or output is validated against the context set by the `IB-Context` header. For example, if the context is set to your community account, but the batch ID used as input for the run is stored in your organization, the call fails.</Note>
      parameters:
        - $ref: '#/components/parameters/ib_context'
        - in: path
          name: deployment-id
          schema:
            type: string
            default: false
          required: true
          description: |
            The deployment ID.

            <Tip>Find the deployment ID by opening the deployment in AI Hub and looking at the site URL, such as https<span>://</span>aihub.instabase.com/deployments/**01902d6f-bb35-74cb-bd27-c09b38bbf20a**/runs.</Tip>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                batch_id:
                  type: integer
                  description: Required unless using `input_dir` or `manual_upstream_integration`. The batch ID of a batch created with the [Batches endpoint](/api-sdk/api-reference/batches/create-batch/). All files uploaded to the batch are used as input for the run.
                input_dir:
                  type: string
                  description: Required unless using `batch_id` or `manual_upstream_integration`. The path of the input folder in a connected drive or Instabase Drive. See [Specifying file paths](/api-sdk/api-reference/run-reference/).
                manual_upstream_integration:
                  type: boolean
                  description: Use the deployment's upstream integration as a source rather than a `batch_id` or `input_dir`. Requires an upstream integration to be configured for the deployment.
                from_timestamp:
                  type: number
                  description: Required if `manual_upstream_integration` is true and the upstream integration is a mailbox integration. Specifies the earliest date in Unix time milliseconds from which to pull emails.
                to_timestamp:
                  type: number
                  description: Required if `manual_upstream_integration` is true and the upstream integration is a mailbox integration. Specifies the latest date in Unix time milliseconds from which to pull emails.
                version:
                  type: string
                  description: Version of the app to use. If not specified, defaults to the latest production version.
                output_dir:
                  type: string
                  description: Defines a specific location for the output to be saved in a connected drive or Instabase Drive. If defined, overrides the output workspace configured for the deployment. See [Specifying file paths](/api-sdk/api-reference/run-reference).
                settings:
                  type: object
                  description: JSON object containing settings for the deployment run.
                  properties:
                    keys:
                      type: object
                      description: |
                         Define the values for any custom or secret keys configured under your deployment's *Runtime configurations* settings. Key values passed via API override any key values defined in the deployment configuration.
                      properties:
                         custom:
                            type: object
                            description: |
                               Configure any custom keys, using key/value pairs. In the key/value pair, define the key as the name of an existing key used in your deployment, and define the value as any custom value.

                               <Note>Any keys being defined by API should correspond to keys listed under your deployment's *Runtime configuration* settings. For keys included in the `custom` object, match against the keys listed on the **Custom keys** tab of the runtime configuration.</Note>
                            additionalProperties: true
                         secret:
                            type: object
                            description: |
                               Configure any secret keys, using key/value pairs. In the key/value pair, define the key as the name of an existing secret key used in your deployment, and define the value as any secret in the organization's secrets vault. For guidance on managing secrets, see [Managing secrets](/admin/secret-management/) or refer to the [Secrets endpoints](/api-sdk/api-reference/secrets/).

                               <Note>Any keys being defined by API should correspond to keys listed under your deployment's *Runtime configuration* settings. For keys included in the `secret` object, match against the keys listed on the **Secret keys** tab of the runtime configuration.</Note>
                            additionalProperties:
                               type: string
                    runtime_config:
                      type: object
                      description: A dictionary supporting select runtime configurations, such as generating retrievable PDFs of processed documents. For all other runtime configurations, use the `keys` parameter.
                      properties:
                         generate_post_process_pdf:
                            type: boolean
                            description: |
                               Set to `true` to generate a retrievable PDF for each document the app processes, including separate PDFs for each document created by split classification.

                               <Note>When getting run results, use the [`include_source_info` query parameter](/api-sdk/api-reference/runs/get-run-results#request.query.include_source_info.include_source_info) to return the file path for any generated PDFs in your results. File paths are returned under `files/documents/post_processed_pdf_path`.</Note>
                         instabase:
                           type: object
                           description: A dictionary supporting select runtime configurations.
                           properties:
                             pdf:
                               type: object
                               description: A dictionary supporting select runtime configurations dealing with PDF input documents.
                               properties:
                                 passwords:
                                   type: object
                                   description: A dictionary with titles of encrypted PDF documents as keys and passwords for those documents as values.
                                   additionalProperties:
                                     type: string

      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/run'
          description: Successfully initiated an asynchronous operation to run the deployment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl "${API_ROOT}/v2/apps/deployments/<DEPLOYMENT-ID>/runs" \
                    -H "Authorization: Bearer ${API_TOKEN}" \
                    -H "IB-Context: ${IB_CONTEXT}"\
                    -H "Content-Type: application/json" \
                    -d '{
                          "batch_id": <BATCH-ID>,
                        }'

            - sdk: python
              name: Use batch ID with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
  
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")
  
                  run = client.apps.deployments.runs.create(
                            deployment_id="12345678-abcde-1234-abcd-123456789012",
                            batch_id=123456)
                  print(f"run ID: {run.id}")

            - sdk: python
              name: Use batch ID without SDK
              # cwc tested
              code: |
                  import requests
                  
                  url = "https://aihub.instabase.com/api/v2/apps/deployments/12345678-abcde-1234-abcd-123456789012/runs"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com"}
                  
                  # create the request payload
                  data = { "batch_id": 123456 }
                  
                  # make the POST request
                  resp = requests.post(url, headers=headers, json=data)
                  
                  # handle the response
                  if resp.status_code == 202:
                      run = resp.json()
                      print(f"Deployment run started with ID: {run['id']}")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

            - sdk: python
              name: Use input dir with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
  
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")
  
                  organization_id = "acme"
                  workspace = "MyWorkspace"
                  drive_name = "My Google Drive"
                  folder = "My Drive/input_files/documents/"
                  input_dir = f"{organization_id}/{workspace}/fs/{drive_name}/{folder}/"
  
                  run = client.apps.deployments.runs.create(
                            deployment_id="12345678-abcde-1234-abcd-123456789012",
                            input_dir=input_dir)
                  print(f"run ID: {run.id}")

            - sdk: python
              name: Use input dir without SDK
              # cwc tested
              code: |
                  import requests
                  
                  url = "https://aihub.instabase.com/api/v2/apps/deployments/12345678-abcde-1234-abcd-123456789012/runs"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com" }
                  
                  organization_id = "acme"
                  workspace = "MyWorkspace"
                  drive_name = "My Google Drive"
                  folder = "My Drive/input_files/documents/"
                  input_dir = f"{organization_id}/{workspace}/fs/{drive_name}/{folder}/"
  
                  # create the request payload
                  data = { "input_dir": input_dir }
                  
                  # make the POST request
                  resp = requests.post(url, headers=headers, json=data)
                  
                  # handle the response
                  if resp.status_code == 202:
                      run = resp.json()
                      print(f"Deployment run started with ID: {run['id']}")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

  /v2/apps/runs/{run_id}:
    get:
      operationId: getRunStatus
      x-fern-audiences:
        - public
      tags:
        - Runs
      summary: Get run status
      description: Get the status of a run.
      parameters:
        - $ref: '#/components/parameters/run_id'
        - $ref: '#/components/parameters/ib_context'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/run'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl "${API_ROOT}/v2/apps/runs/<RUN-ID>" \
                    -H "Authorization: Bearer ${API_TOKEN}"\
                    -H "IB-Context: ${IB_CONTEXT}"

            - sdk: python
              name: with SDK
              # cwc tested
              code: |
                  from aihub import AIHub

                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")

                  resp = client.apps.runs.status(run_id="a1b2c3d4-e5f6-7890-abcd-ef1234567890")
                  print(f"Run status: {resp.status}")

            - sdk: python
              name: without SDK
              # cwc tested
              code: |
                  import requests
  
                  url = "https://aihub.instabase.com/api/v2/apps/runs/a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com" }
  
                  # make the GET request
                  resp = requests.get(url, headers=headers)
                  
                  # handle the response
                  if resp.status_code == 200:
                      run = resp.json()
                      print(f"Run status: {run['status']}")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

    delete:
      operationId: deleteRun
      x-fern-audiences:
        - public
      tags:
        - Runs
      summary: Delete run
      description: |
        Deletes a specified automation app run and optionally its associated database data, input files, output files, and logs. This is an asynchronous operation that must be [checked for completion](/api-sdk/api-reference/jobs/job-status).

        <Warning>Deleting the run's input files also deletes the batch that the run processed.</Warning>
      parameters:
        - $ref: '#/components/parameters/run_id'
        - $ref: '#/components/parameters/ib_context'
        - in: query
          name: delete_db_data
          schema:
            type: boolean
            default: true
          description: Delete the run's database data.
        - in: query
          name: delete_input
          schema:
            type: boolean
            default: true
          description: Delete the run's input files.
        - in: query
          name: delete_output
          schema:
            type: boolean
            default: true
          description: Delete the run's output files.
        - in: query
          name: delete_logs
          schema:
            type: boolean
            default: true
          description: Delete the run's logs.
      responses:
        '202':
          description: Run deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  delete_input_dir_job_id:
                    type: string
                    description: Job ID for deleting the input directory.
                    nullable: true
                  delete_output_dir_job_id:
                    type: string
                    description: Job ID for deleting the output directory.
                    nullable: true
                  delete_log_dir_job_id:
                    type: string
                    description: Job ID for deleting the log directory.
                    nullable: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-fern-examples:
        - code-samples:
            - sdk: curl
              code: |
                  curl -X DELETE "${API_ROOT}/v2/apps/runs/<RUN-ID>" \
                    -H "Authorization: Bearer ${API_TOKEN}"\
                    -H "IB-Context: ${IB-CONTEXT}"

            - sdk: python
              name: with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
                  import time
                
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")

                  resp = client.apps.runs.delete(
                             run_id="a1b2c3d4-e5f6-7890-abcd-ef1234567890")
                  job_ids = [resp.delete_input_dir_job_id,
                             resp.delete_output_dir_job_id,
                             resp.delete_log_dir_job_id]

                  # remove empty job IDs
                  job_ids = [job_id for job_id in job_ids if job_id]

                  # poll for job completion
                  while job_ids:
                      for job_id in job_ids[:]:
                          job_status = client.jobs.status(job_id)
                          if job_status.state == "COMPLETE":
                              job_ids.remove(job_id)
                      time.sleep(5)

            - sdk: python
              name: without SDK
              # cwc tested
              code: |
                import requests
                
                url = "https://aihub.instabase.com/api/v2/apps/runs/a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                            "IB-Context": 'john.doe_acme.com' }
                
                # make the DELETE request
                response = requests.delete(url, headers=headers)
                
                # handle the response
                if resp.status_code == 202:
                    job_resp = resp.json()
                    print("Run deletion request accepted")
                    print(f"Delete input dir job ID: {job_resp['delete_input_dir_job_id']}")
                    print(f"Delete output dir job ID: {job_resp['delete_output_dir_job_id']}")
                    print(f"Delete log dir job ID: {job_resp['delete_log_dir_job_id']}")
                else:
                    print(f"Error: {resp.status_code} - {resp.text}")

  /v2/apps/runs/{run_id}/results:
    get:
      operationId: getRunResults
      x-fern-audiences:
        - public
      tags:
        - Runs
      summary: Get run results
      description: |
        Get the results of a completed automation app run.

        <Note>
        The results from this endpoint are paginated. The `has_more` field in the response indicates if there are more results to fetch and the `file_offset` query parameter can be used to specify the starting point for the next set of results.

        For an example of using `file_offset` to fetch all results, see the *Retrieving paginated results* code sample.
        </Note>

        <Info>

        This API operation might return field names that differ from those in the automation project.
        The operation converts field names to valid Python variable names by:

        * Allowing only letters, numbers, and underscores
        * Requiring names to start with a letter or underscore
        * Replacing invalid characters with underscores
        * Converting single underscores to double underscores

        Examples:
        * `due date` → `due_date`
        * `driver's license` → `driver_s_license`
        * `3rd category` → `_3rd_category`
        * `secret_id` → `secret__id`

        These changes apply only to field names in the API response. The field names in the automation project are not changed.

        </Info>
      parameters:
        - $ref: '#/components/parameters/run_id'
        - in: query
          name: include_review_results
          schema:
            type: boolean
            default: false
          description: |
            Whether to include human review details in the results. When set to `true`, various human review details are returned.

            <Note>The review process can include manually correcting values. This endpoint doesn't support returning the original and corrected values.</Note>

            The following values are returned at the document level (`files/documents/...`):

            - `review_completed`
            - `class_edit_history`
            - `class_edit_history/timestamp`
            - `class_edit_history/user_id`
            - `class_edit_history/modifications`
            - `class_edit_history/modifications/message`

            The following values are returned at the field level (`files/documents/fields/...`):

            - `edit_history`
            - `edit_history/timestamp`
            - `edit_history/user_id`
            - `edit_history/modifications`
            - `edit_history/modifications/message`

            The following values are returned at the case level (`case_info/fields/...`):

            - `edit_history`
            - `edit_history/timestamp`
            - `edit_history/user_id`
            - `edit_history/modifications`
            - `edit_history/modifications/message`

            See the response schema for details and descriptions.

        - in: query
          name: include_confidence_scores
          schema:
            type: boolean
            default: false
          description: |
            Whether to include confidence scores in the results. When set to `true`, various confidence scores are returned.

            The following values are returned at the document level (`files/documents/...`):

            - `classification_confidence`

            The following values are returned at the field level (`files/documents/fields/...`):

            - `confidence/model`
            - `confidence/ocr`

            See the response schema for details and descriptions.
        - in: query
          name: include_validation_results
          schema:
            type: boolean
            default: false
          description: |
            Whether to include validation status in the results. When set to `true`, various validation results are returned.

            The following values are returned at the document level (`files/documents/...`):

            - `validations/final_result_pass`

            The following values are returned at the field level (`files/documents/fields/...`):

            - `validations/valid`
            - `validations/alerts`

            See the response schema for details and descriptions.
        - in: query
          name: include_source_info
          schema:
            type: boolean
            default: false
          description: |
            Whether to include source information in the results. When set to `true`, various source details are returned.

            The following values are returned at the document level (`files/documents/...`):

            - `post_processed_paths`
            - `post_processed_pdf_path`

               <Note>
               A `post_processed_pdf_path` is populated when `settings/runtime_config/generate_post_process_pdf=true`. Paths to PDFs are generated from each document, with separate PDF paths for documents split during classification.
               </Note>

            The following values are returned at the field level (`files/documents/fields/...`):

            - `source_coordinates/top_x`
            - `source_coordinates/top_y`
            - `source_coordinates/bottom_x`
            - `source_coordinates/bottom_y`
            - `source_coordinates/page_number`

            See the response schema for details and descriptions.
        - in: query
          name: file_offset
          schema:
            type: integer
            default: 0
          description: The initial file index to start returning results from. Defaults to `0`.
        - $ref: '#/components/parameters/ib_context'
      responses:
        '200':
          description: |
            Run results retrieved successfully.
            
            <Note>

            If errors occur at the class, field, or document levels, the response status code is `200` and the response body includes error details.
            
            </Note>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resultsResponse'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
      x-fern-examples:
        - path-parameters:
            run_id: 1234-1235
          response:
            body:
              batch_id: '1235'
              has_more: false
              files:
                - original_file_name: "test.png"
                  input_file_path: "instabase-sandbox-org/test-org/fs/Instabase Drive/app-runs/1234-1235/input/test.png"
                  documents:
                    - class_name: "Wage And Tax Statement"
                      page_numbers: [1, 2]
                      fields:
                        - value: "123 STREET RD ANYWHERE, USA,12345"
                          type: "TEXT"
                          field_name: "employers_address_and_ZIP_code"
                - original_file_name: "test2.png"
                  input_file_path: "instabase-sandbox-org/test-org/fs/Instabase Drive/app-runs/1234-1235/input/test2.png"
                  documents:
                    - class_name: "Driver License"
                      page_numbers: [1]
                      fields:
                        - value: "Male"
                          type: "TEXT"
                          field_name: "sex"
              keys:
                - custom: {}
              case_info:
                fields:
                  - name: "Employee_Address"
                    value: "123 STREET RD ANYWHERE, USA,12345"
                    input_fields:
                      - record_index: 0
                        refined_phrase_name: "employers_address_and_ZIP_code"
                    chosen_field:
                      record_index: 0
                      refined_phrase_name: "employers_address_and_ZIP_code"
                    edit_history:
                      - timestamp: "08/27/2025 00:58:39"
                        user_id: "john.doe_instabase.com"
                        modifications:
                          - message: "Edited to \"123 STREET RD ANYWHERE, USA,12345\""
                  - name: "Sex"
                    value: "Male"
                    input_fields:
                      - record_index: 0
                        refined_phrase_name: "sex"
                    chosen_field:
                      record_index: 0
                      refined_phrase_name: "sex"
          code-samples:
            - sdk: curl
              name: Simple request
              code: |
                  curl "${API_ROOT}/v2/apps/runs/<RUN-ID>/results" \
                  -H "Authorization: Bearer ${API_TOKEN}"`
                  -H "IB-Context: ${IB_CONTEXT}"

            - sdk: python
              name: Simple request with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
  
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")
  
                  results = client.apps.runs.results(run_id="a1b2c3d4-e5f6-7890-abcd-ef1234567890")
                  print(f"Retrieved results from {len(results.files)} files")

            - sdk: python
              name: Simple request without SDK
              # cwc tested
              code: |
                  import requests
                  
                  url = "https://aihub.instabase.com/api/v2/apps/runs/a1b2c3d4-e5f6-7890-abcd-ef1234567890/results"
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": 'john.doe_acme.com' }
                  
                  # make the GET request
                  resp = requests.get(url, headers=headers)
                  
                  # handle the response
                  if resp.status_code == 200:
                      results = resp.json()
                      print(f"Retrieved results from {len(results['files'])} files")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

        - path-parameters:
            run_id: 1234-1235
          response:
            body:
              has_more: false
              batch_id: "9706"
              files:
                - original_file_name: "test.png"
                  documents:
                    - class_name: "Wage And Tax Statement"
                      fields:
                        - value: "123 STREET RD ANYWHERE, USA,12345"
                          type: "TEXT"
                          confidence:
                            model: 0.5900550516
                            ocr: 0.6900550516
                          source_coordinates:
                            - top_x: 36.0
                              top_y: 181.0
                              bottom_x: 84.0
                              bottom_y: 212.0
                              page_number: 0
                            - top_x: 90.0
                              top_y: 182.0
                              bottom_x: 198.0
                              bottom_y: 211.0
                              page_number: 0
                          field_name: "employers_address_and_ZIP_code"
                      post_processed_paths:
                        - "instabase-org/orguser/fs/S3 Drive/app-runs/dd97-42cb-8b8e-28a63066887e/4180-8508-b103afb67185/s1_process_files/images/test.png.PNG"
                - original_file_name: "test2.png"
                  documents:
                    - class_name: "Driver License"
                      fields:
                        - value: "Male"
                          type: "TEXT"
                          confidence:
                            model: 0.6915
                            ocr: 0.7915
                          source_coordinates: []
                          field_name: "sex"
                      post_processed_paths:
                        - "instabase-org/orguser/fs/S3 Drive/app-runs/dd97-42cb-8b8e-28a63066887e/4180-8508-b103afb67185/s1_process_files/images/test2.png.PNG"
              case_info:
                fields:
                  - name: "Employee_Address"
                    value: "123 STREET RD ANYWHERE, USA,12345"
                    input_fields:
                      - record_index: 0
                        refined_phrase_name: "employers_address_and_ZIP_code"
                    chosen_field:
                      record_index: 0
                      refined_phrase_name: "employers_address_and_ZIP_code"
                    edit_history:
                      - timestamp: "08/27/2025 00:58:39"
                        user_id: "john.doe_instabase.com"
                        modifications:
                          - message: "Edited to \"123 STREET RD ANYWHERE, USA,12345\""
                  - name: "Sex"
                    value: "Male"
                    input_fields:
                      - record_index: 0
                        refined_phrase_name: "sex"
                    chosen_field:
                      record_index: 0
                      refined_phrase_name: "sex"

          code-samples:
            - sdk: curl
              name: Using query parameters with SDK
              code: |
                  curl "${API_ROOT}/v2/apps/runs/<RUN-ID>/results?include_confidence_scores=true&include_source_info=true" \
                    -H "Authorization: Bearer ${API_TOKEN}"`

            - sdk: python
              name: Using query parameters with SDK
              # cwc tested
              code: |
                  from aihub import AIHub
  
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")
                  results = client.apps.runs.results(run_id="<RUN-ID>",
                                                     include_confidence_score=True,
                                                     include_source_info=True)
                  print(f"Retrieved results from {len(results.files)} files")

            - sdk: python
              name: Using query parameters without SDK
              # cwc tested
              code: |
                  import requests
                  
                  url = ("https://aihub.instabase.com/api/v2/apps/runs/a1b2c3d4-e5f6-7890-abcd-ef1234567890/results"
                         "?include_confidence_scores=true"
                         "&include_source_info=true")
                  headers = { "Authorization": "Bearer abcdefghijklmnopqrst1234567890",
                              "IB-Context": "john.doe_acme.com" }
                  
                  # make the GET request
                  resp = requests.get(url, headers=headers)
                  
                  # handle the response
                  if resp.status_code == 200:
                      results = resp.json()
                      print(f"Retrieved results for {len(results['files'])} files")
                  else:
                      print(f"Error: {resp.status_code} - {resp.text}")

            - sdk: python
              name: Retrieving paginated results with SDK
              # cwc tested
              code: |
                  # The results from this endpoint are paginated.
                  # The `has_more` field in the response indicates whether there are more results to fetch,
                  # and `file_offset` specifies the starting point for the next set of results.
                  # This example retrieves all results.
                  from aihub import AIHub
                  
                  client = AIHub(api_root="https://aihub.instabase.com/api",
                                 api_key="abcdefghijklmnopqrst1234567890",
                                 ib_context="john.doe_acme.com")
                  
                  all_files_results = []
                  current_offset = 0
                  run_id = "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  
                  while True:
                      # fetch results with the current offset
                      resp = client.apps.runs.results(run_id=run_id, file_offset=current_offset)
                  
                      # extend the list with the files from the current response
                      all_files_results.extend(resp.files)
                  
                      # check if there are more results to fetch
                      if not resp.has_more:
                          break
                  
                      # increment the offset by the number of files received in the current response
                      current_offset += len(resp.files)
                  
                  print(f"Retrieved results from {len(all_files_results)} files")

            - sdk: python
              name: Retrieving paginated results without SDK
              # cwc tested
              code: |
[...]
